*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
# Android Studio

.gradle/
local.properties
.idea/
.external
NativeBuild/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db
# Generated APKs

*.apk
*.aab

